.logo {
  height: 2.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.has-text-white:hover,
a.has-text-white:focus-within {
  color: #000 !important;
}

.background-grey {
  background-color: #ededed;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;;
}